 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="Data Analysis">
      <h2>Programming</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <img src="/assets/img/sql_logo.svg" style="width:80px;height:80px;"/>
      <i class="devicon-git-plain"></i>
      <p>using code to inspect, clean, transform, and model data</p>
    </div>
    <div class="Machine Learning">
      <h2>Machine Learning</h2>
      <img src="/assets/img/Scikit_learn_logo_small.svg" style="width:80px;height:80px;"/>
      <img src="/assets/img/tensorflow_logo.svg" style="width:160px;height:80px;"/>
      <img src="/assets/img/keras_logo.svg" style="width:160px;height:80px;"/>
      <p>building, training, evaluating, and deploying models that transform data into knowledge.</p>
    </div>
    <div class="Business Intelligence">
      <h2>Business Intelligence</h2>
      <img src="/assets/img/Tableau_Logo.png" style="width:160px;height:80x;"/>
      <img src="/assets/img/alteryx_logo.png" style="width:160px;height:80x;"/>
      <img src="/assets/img/Microsoft_Excel_Logo.svg" style="width:80px;height:80x;"/>
      <p>leveraging technologies and data tools to support better business decision making</p>
    </div>
</div>










